<%= render partial: "shared/user_page", locals: { user: @user, active_tab: 'post'} %>
<% @drafts.each do |draft| %>
  <div class="row user-post-row bg-light-gray">
    <div class="col-sm-6">
      <span class="lm-65 post-title"><%= link_to draft.title, post_path(draft) %></span>
    </div>
    <div class="col-sm-2">
      <span><%= draft.status %></span>
    </div>
    <div class="col-sm-2">
      <span><%= draft.create_date %> </span> 
    </div>
    <div class="col-sm-2">
      <%= link_to 'edit', edit_post_path(draft), class: 'btn btn-outline-primary' %>
      <%= link_to 'delete', post_path(draft), method: :delete, class: 'btn btn-outline-danger' %>
    </div>
  </div>
<% end %>
<br>
