<div class="row bg-light-gray">
  <div class="col-sm-3">
    <div class="top-pad60">
      <%= image_tag(user.avatar_url, class: "user-avatar mx-auto") unless user.avatar.nil? %>
    </div>
    <div class="user-name align-top text-center">
      <span><%= show_user_name(user) %></span>
      <div class="friend-btn-box friend-btn-<%= user.id %>">
        <%= render partial: "shared/friend_btn", locals: { user: user} %>
      </div>
    </div>
    
  </div>
  <div class="col-sm-9">
    <div class="top-pad60"><%= user.intro %></div>
    <div class="ml-auto"><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-primary' if user == current_user %></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <br>
    <ul class="nav nav-tabs profile-tab">
      <li class="nav-item lm-50">
        <%= link_to 'My Post', posts_user_path(user), class: "nav-link #{'active' if active_tab == 'post'}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Comment', user_comments_path(user), class: "nav-link #{'active' if active_tab == 'comment'}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Collect', user_collects_path(user), class: "nav-link #{'active' if active_tab == 'collect'}" %>
      </li>
      <% if user == current_user %>
        <li class="nav-item">
          <%= link_to 'My Draft', drafts_user_path(user), class: "nav-link #{'active' if active_tab == 'draft'}" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to 'My Friend', user_friendships_path(user), class: "nav-link #{'active' if active_tab == 'friend'}" %>
      </li>
    </ul>
  </div>
</div>