<div class="row title-bar bg-light-gray">
  <div class="col-sm-10">
    <h3><%= @post.title %></h3>
  </div>
  <div class="col-sm-2">
    <%= render partial: "shared/collect_btn", locals: { post: @post, collect: @collect} %>
  </div>
</div>
<div class="row post-row">
  <div class="col-3 avatar-col text-center">
    <%= link_to posts_user_path(@post.user), class: 'user-link' do %>
      <div class="avatar-box text-center">
        <%= image_tag(@post.user.avatar_url, class: "post-avatar mx-auto") unless @post.user.avatar.nil? %>
        <span><%= @post.user.name %></span>
        <div class="friend-btn-box friend-btn-<%= @post.user.id %>">
          <%= render partial: "shared/friend_btn", locals: { user: @post.user} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-11">
        <div class="img-block"><%= image_tag @post.image_url, class: 'post-image' unless @post.image.nil? %></div><br>
        <div><%= @post.content %></div>
      </div>
      <div class="ml-auto">
        <%= link_to 'edit', edit_post_path(@post), class: 'btn btn-outline-primary' if @post.user == current_user %>
        <%= link_to 'delete', post_path(@post), method: :delete, class: 'btn btn-outline-danger' if @post.user == current_user || current_user.admin?%>
      </div>
    </div>    
  </div>
</div>

<% @post.comments.each do |comment| %>
  <div class="row post-row bg-light-gray">
    <div class="col-3 avatar-col text-center">
      <%= link_to posts_user_path(comment.user), class: 'user-link' do %>
        <div class="avatar-box text-center">
          <%= image_tag(comment.user.avatar_url, class: "post-avatar mx-auto") unless comment.user.avatar.nil? %>
          <span><%= comment.user.name %></span>
          <div class="friend-btn-box friend-btn-<%= comment.user.id %>">
            <%= render partial: "shared/friend_btn", locals: { user: comment.user} %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-9">
      <div class="row" id="<%= comment.id %>">
        <div class="col-11">
          <br>
          <%= comment.content %>
        </div>
        <% if comment.user == current_user %>
          <div class="ml-auto">
            <div class="btn btn-outline-primary" id="<%= comment.id %>" value="Edit">edit</div>
            <%= link_to 'delete', comment_path(comment), method: :delete, class: 'btn btn-outline-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="row justify-content-sm-center">
  <div class="col-sm-10">
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :content, placeholder: "add comment", class: "form-control bg-light-gray" %>
      <br>
      <%= f.submit 'Submit', class: 'round-white-btn' %>
    <% end %>
  </div>
</div>