<div class="title-bar bg-light-gray">
  <h3><%= @post.title %></h3>
</div>
<div class="row post-row">
  <div class="col-sm-3 avatar-col">
    <%= link_to posts_user_path(@post.user), class: 'user-link' do %>
      <div class="avatar-box text-center">
        <%= image_tag(@post.user.avatar, class: "post-avatar mx-auto") %>
        <span><%= @post.user.name %></span>
      </div>
    <% end %>
  </div>
  <div class="col-sm-8">
    <div class="img-block"><%= image_tag @post.image, class: 'post-image' unless @post.image.nil? %></div><br>
    <div><%= @post.content %></div>
  </div>
</div>

<% @post.comments.each do |comment| %>
  <div class="row post-row bg-light-gray">
    <div class="col-sm-3 avatar-col">
      <%= link_to posts_user_path(comment.user), class: 'user-link' do %>
        <div class="avatar-box text-center">
          <%= image_tag(comment.user.avatar, class: "post-avatar mx-auto") %>
          <span><%= comment.user.name %></span>
        </div>
      <% end %>
    </div>
    <div class="col-sm-8">
      <div class="comments"><%= comment.content %></div>
    </div>
  </div>
<% end %>
<br>
<div class="row justify-content-sm-center">
  <div class="col-sm-10">
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :content, placeholder: "add comment", class: "form-control bg-light-gray" %>
      <br>
      <%= f.submit 'Submit', class: 'round-white-btn' %>
    <% end %>
  </div>
</div>