<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-white bg-secondary">
      <%= link_to 'Dojo Forum', root_path, class: 'navbar-brand text-light' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><%= link_to 'Feeds', feeds_posts_path, class: "nav-link text-light" %></li>
          <li><%= link_to 'All post', root_path, class: "nav-link text-light" %></li>
          <li><%= link_to 'New post', new_post_path, class: "nav-link text-light" %></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item">
              <!-- Button for admin to switch between front and back -->
              <% if current_user.role == 'admin' %>
                <% if request.url.include? 'admin' %>
                  <%= link_to "To Front End", root_path, class: "nav-link text-light" %>
                <% else %>
                  <%= link_to "To Back End", admin_categories_path, class: "nav-link text-light" %>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <span class="text-light nav-link"><%= show_user_mail(current_user) %></span>
            </li>
            <li class="nav-item">
              <%= link_to('Profile', posts_user_path(current_user.id), class: "nav-link text-light") %>
            </li>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link text-light") %>
            </li>
          <% else %>
            <li class="nav-item ml-auto"><%= link_to('Log in', new_user_session_path, class: "nav-link text-light") %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= render partial: "shared/alert" %>
    <%= yield %>
  </body>
</html>
