<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
            <li class="nav-item">
              <!-- Button for admin to switch between front and back -->
              <% if current_user.role == 'admin' %>
                <% if request.url.include? 'admin' %>
                  <%= link_to "To Front End", root_path, class: "nav-link" %>
                <% else %>
                  <%= link_to "To Back End", admin_categories_path, class: "nav-link" %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= show_user_mail(current_user) %>
            </li>
            <li class="nav-item">
              <%= link_to posts_users_path('Profile', current_user, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to('登入', new_user_session_path, class: "nav-link") %></li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      <%= render partial: "shared/alert" %>
      <%= yield %>
    </div>
  </body>
</html>
